event_analytics:
  target: deploy
  outputs:
    deploy:
      type: postgres
      host: ${DBT_HOST}
      port: ${DBT_PORT}
      user: ${DBT_USER}
      password: ${DBT_PASSWORD}
      dbname: ${DBT_DATABASE}
      schema: analytics
      threads: 4
      sslmode: require
